**The code cells below is to download a dataset into Colab directly.** Skip if irrelevant

In [ ]:
%%bash
# change url if you want to work with a different RSG dataset
wget -q --show-progress "https://russiansuperglue.com/tasks/download/DaNetQA" -O temp.zip
unzip temp.zip -d data

# remove unnecessary directories and files
rm temp.zip
rm -r data/__MACOSX
rm -r sample_data/

Fancy way to display content of the dataset directory

In [ ]:
%%bash
# add tree package for fancy directory display
apt-get install tree

In [3]:
# display the content of the folder
!tree

.
└── data
    └── DaNetQA
        ├── test.jsonl
        ├── train.jsonl
        └── val.jsonl

2 directories, 3 files

### **Start playing here**

In [46]:
import pandas as pd
pd.set_option('display.max_colwidth', 1000)

class JSONL_handler():
    """ opens a jsonl file and turns it into a necessary data structure """
    
    def __init__(self, path):
        self.path = path # path to jsonl file

    def to_pandas(self):
        """ get jsonl file content as a pandas DataFrame"""
        return pd.read_json(path_or_buf=self.path, lines=True)

In [16]:
handler = JSONL_handler('data/DaNetQA/train.jsonl')
df = handler.to_pandas()

[Pandas cheat sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf?platform=hootsuite) for reference

In [17]:
df.head(6)

                              question  ... idx
0        Вднх - это выставочный центр?  ...   0
1        Вднх - это выставочный центр?  ...   1
2          Был ли джиган в black star?  ...   2
3              Xiaomi конкурент apple?  ...   3
4    Был ли автомат калашникова в вов?  ...   4
5  Может ли автомобиль ездить на газу?  ...   5

[6 rows x 4 columns]

In [ ]:
df['label'].value_counts()

True     1061
False     688
Name: label, dtype: int64